/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap'); */

@font-face {
    font-family: 'gowthamrounded-book';
    src: url(../font/Gotham\ Rounded\ Book.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.2s all;
    scroll-behavior: smooth;
    font-family: 'gowthamrounded-book';

}



:root {
    --color: #81ca01;
    --color1: #003b1c;
    --bg-color: #11202d;
    --text: #002c5d;
    --white: #fff;
    --black: #0e0d0d;
    --gray: rgb(231, 231, 231);
    --text-gray: #a1a1a1;
    --bg-sec: #89898938;
}

::selection {
    background-color: var(--color1);
    color: var(--white);
}


/* Font size  */

h1 {
    font-size: 42px !important;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 26px;

}

h4 {
    font-size: 24px;
}


h6 {
    font-size: 16px;
}

p {
    font-size: 16px;
}

a {
    text-decoration: none !important;
    font-size: 13px;
}

/* navbar section  */

.navbar-main {
    width: 100%;
    height: 120px !important;
    border-bottom: 1px solid var(--gray);
    background-color: var(--white);
    position: relative;
    z-index: 999;
    transition: 1s ease !important;
}

.nav-container {
    width: 100%;
    height: 100%;
    background-color: var(--color);
    display: flex;
    justify-content: flex-start;
    /* gap: 10px; */
}

.nav-container .nav-brand-logo {
    min-width: 100px;
    max-width: 100px;
    height: 100%;
    background-color: var(--color);
}

.nav-container .nav-brand-logo a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.nav-container .nav-brand-logo a img {
    width: 100px ;
    height: 100px;
    object-fit: contain;
}

.nav-menu-container {
    width: 95%;
    height: 100%;
}

.nav-firstBar {
    width: 100%;
    height: 50%;
    border-bottom: 1px solid var(--gray);
    background-color: var(--color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-contact-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: var(--color);
    justify-content: space-between;
}

.nav-contact-container a {
    width: 33.333%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--black);
}

.nav-contact-container a i {
    font-size: 16px;
    color: var(--black);
}

.nav-contact-container a span:nth-child(1) {
    width: 30px;
    height: 30px;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 50%;
}

.nav-contact-container a span:nth-child(2) {
    color: var(--white);
    font-size: 13px;
}

.nav-secondBar {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menus {
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding-right: 3%;
    border-right: 1px solid var(--gray);
    position: relative;
}

.nav-menus ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: space-between;
    padding-left: 0;
}

.nav-menus ul li {
    width: auto;
    position: relative;
    height: 100%;
    display: flex;
}

.nav-menus ul li a {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--bg-color);
    font-weight: 700;
}

.nav-menus ul li a i {
    font-size: 10px !important;
    color: var(--white);
}

.nav-menus ul li a:hover i {
    transform: rotate(-180deg);
}

.nav-social-links {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

.nav-social-links a i {
    font-size: 20px;
    color: var(--white);
}

.nav-toggler {
    width: 50px !important;
    height: 100% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    border: none;
    justify-content: center;
    display: none;
}

.nav-toggler span {
    width: 25px;
    height: 2px;
    background-color: var(--bg-color);
}

.nav-social-links a {
    color: var(--text-gray);
    font-size: 14px;
}

/* Dropdown  */

.nav-menus ul li ul {
    display: block;
    height: auto;
    position: absolute;
    top: 100%;
    border-radius: 10px;
    background-color: var(--white);
    width: 320px;
    height: auto;
    left: 0;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    overflow: hidden;
    transition: 0.3s;
    border: 1px solid var(--text-gray);
    z-index: 5;
}


.nav-menus ul li ul li {
    padding: 10px 15px;
    width: 100%;
    height: auto;
    border-bottom: 1px solid var(--text-gray);
    display: flex;
    justify-content: space-between;
}

.nav-menus ul li ul li:hover {
    background-color: var(--bg-color);
}

.nav-menus ul li ul li:hover a {
    color: var(--white);
}

.nav-menus ul li ul li:hover a i {
    color: var(--white);
}

.nav-menus ul li ul li a {
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 12px;
    text-transform: uppercase;
    transition: 0.2s;
    justify-content: space-between;
}

.serviceOpen {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%) !important;
}


@media screen and (min-width:900px) and (max-width:1024px) {
    .nav-menus {
        width: 80%;
    }

    .nav-social-links {
        width: 19%;
        display: flex;
        justify-content: flex-end;
        gap: 20px;
    }

    .nav-social-links a i {
        font-size: 15px;
    }

    .nav-contact-container a span:nth-child(2) {
        /* color: var(--text-gray); */
        font-size: 12px;
    }

}

@media screen and (max-width:900px) {
    .nav-contact-container a span:nth-child(2) {
        /* color: var(--text-gray); */
        font-size: 9px;
    }

    .nav-menus {
        width: 100%;
        height: 800px;
        position: absolute;
        top: 100%;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        left: 0;
        overflow: visible !important;
        padding: 2%;
        background-color: var(--white);
        border-bottom: 1px solid var(--text-gray);
    }

    .nav-menus ul {
        width: 100%;
        height: auto;
        display: block;
    }

    .nav-menus ul li {
        width: 100%;
        height: 30px;
        padding: 20px 10px;
        display: flex;
        position: relative;
    }

    .nav-menus ul li:hover {
        background-color: var(--bg-color);
    }

    .nav-menus ul li:hover a {
        color: var(--white);
    }

    .nav-menus ul li:hover ul li a {
        color: var(--black);
    }


    .nav-menus ul li ul li:hover a {
        color: var(--white);
    }

    .nav-menus ul li a {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
    }

    .nav-social-links {
        width: 60%;
        display: flex;
        justify-content: space-between;
        gap: 15px;
    }

    .nav-toggler {
        width: 30px !important;
        height: 30px !important;
        flex-direction: column;
        align-items: center;
        gap: 3px;
        background-color: var(--bg-color);
        border-radius: 50%;
        border: none;
        justify-content: center;
        display: flex;
        position: relative;

    }

    .c1 {
        transform: translate(-50%, -50%) rotate(45deg);
        position: absolute;
        top: 50%;
        left: 50%;
        transition: 0.2s linear !important;
    }

    .c2 {
        position: absolute;
        opacity: 0;
        transition: 0.2s linear !important;

    }

    .c3 {
        position: absolute;
        transform: translate(-50%, -50%) rotate(-45deg);
        top: 50%;
        left: 50%;
        transition: 0.2s linear !important;

    }

    .nav-toggler span {
        width: 15px;
        height: 2px;
        background-color: var(--white) !important;
    }

    .nav-active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }





    /* Dropdown  */

    .nav-menus ul li ul {
        display: block;
        height: auto;
        position: absolute;
        top: 100%;
        border-radius: 10px;
        background-color: var(--white);
        width: 100%;
        left: 0;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        overflow: hidden;
        transition: 0.3s;
        border: 1px solid var(--text-gray);
        z-index: 5;
    }

    .nav-menus ul .drop:hover {
        display: block;
        height: auto;
        background-color: var(--white);
    }

    .nav-menus ul .drop .d-1 {
        color: var(--black) !important;
        margin-bottom: 20px;
    }

    .nav-menus ul .drop:hover ul {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        position: relative;

    }


}

@media screen and (max-width:600px) {
    .nav-social-links {
        width: 70%;
        display: flex;
        justify-content: space-between;
        gap: 15px;
    }

    .nav-toggler {

        flex-direction: column;
        align-items: center;
        border: none;
        justify-content: center;
        display: flex;

    }

    .nav-toggler span {
        width: 15px;
        height: 2px;
    }

    .nav-contact-container a span:nth-child(2) {
        display: none;
    }


}


.nav-background {
    position: fixed;
    top: 0;
    transition: 1s ease;
}


/* Banner  */


/* ///////////Banner-Start///////////////////// */

.hero-section {
    background-image: url(https://html.dynamiclayers.net/te/buildex/assets/img/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    position: relative
}

.hero-section:before {
    background-image: url(https://html.dynamiclayers.net/te/buildex/assets/img/square-pattern.png);
    -webkit-background-size: 20px;
    background-size: 20px;
    content: "";
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    opacity: .8
}

.hero-img-wrap {
    width: 40%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0
}

.hero-bg-half {
    background-image: url(https://html.dynamiclayers.net/te/buildex/assets/img/hero-bg-half.jpg);
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
    filter: grayscale(100%);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0
}

.hero-shape {
    background-color: var(--primary-color);
    width: 150px;
    height: 90%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%) skew(-14deg, 0deg);
    position: relative
}

.hero-shape:before {
    background-image: url(../img/square-pattern.png);
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0
}

.hero-men {
    background-image: url(../img/hero-men.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100%;
    width: 500px;
    height: 570px;
    position: absolute;
    left: -110px;
    bottom: 0
}

.hero-content h4 {
    display: inline-block;
    color: var(--color);
    font-size: 16px;
    font-weight: 600;
    position: relative;
    padding-left: 55px
}

.hero-content h4:before {
    background-color: var(--color);
    width: 50px;
    height: 2px;
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%)
}

.hero-content h1 {
    color: #fff;
    font-size: 62px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 68px
}

.hero-content h1 span {
    color: var(--color)
}

.hero-content p {
    color: #ddd
}

@media(max-width: 992px) {
    .hero-section {
        height: 500px
    }

    .hero-img-wrap {
        display: none
    }

    .hero-content h1 {
        font-size: 52px
    }
}

@media(max-width: 767px) {
    .hero-section {
        height: 400px
    }

    .hero-content h1 {
        font-size: 32px;
        line-height: 42px
    }
}


@media (max-width: 767px) {
    .hero-section {
        height: 400px;
    }
}


@media (max-width: 992px) {
    .hero-section {
        height: 500px;
    }
}

@media (max-width: 767px) {
    .hero-content h1 {
        font-size: 32px !important;
        line-height: 42px !important;
    }
}

@media (max-width: 992px) {
    .hero-content h1 {
        font-size: 52px;
    }
}



.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    height: 100% !important;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0 !important;
    position: relative !important;
}

.swiper-slide::before {
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.736);

}


.banner-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    z-index: 3;
}

.banner-content h4 {
    color: var(--color);
    text-align: start;
}

.banner-content h1 {
    color: var(--white);
    text-align: center;
    font-size: 60px !important;
    font-weight: 900;
    margin-bottom: 2%;
}

.banner-content h1 span {
    color: var(--color);
}


.banner-content p {
    color: var(--white);
    text-align: center;
}

@media screen and (max-width:600px) {

    .swiper-slide::before {
        width: 100%;
        height: 100%;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        background: rgba(0, 0, 0, 0.747);

    }

}

@media screen and (max-width:1024px) {

    .banner-content h1 {
        color: var(--white);
        text-align: center;
        font-size: 40px !important;
        font-weight: 900;
    }
}

.swiper-pagination {
    opacity: 0;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
}


.hero-banner-container {
    width: 100%;
    height: 600px;
    position: relative;

}

.swiper-button-next {
    color: var(--color) !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    color: var(--color) !important;
    font-size: 13px !important;
}

/* --//////Banner///////////---- */



.book_container {
    gap: 50px;
}

.book_btn_boxs {
    width: auto;
    color: var(--white);

}

.book_btn_boxs i {
    font-size: 30px;
}

.book_btn_boxs:hover {
    color: var(--color);
    filter: drop-shadow(0 0 10px var(--color));
}



@media screen and (max-width:700px) {
    .banner-section {
        width: 100%;
        height: 30vh;
        overflow: hidden;
    }


    .book_container {
        gap: 25px;
    }

    .book_btn_boxs i {
        font-size: 20px;
    }
}

@media screen and (min-width:700px) and (max-width:992px) {
    .banner-section {
        width: 100%;
        height: 60vh;
        overflow: hidden;
    }
}

/*////////////////// after banner ///////////////// */



.after-banner {
    width: 100%;
    position: relative;
}




.after-banner-boxs {
    width: 200px;
    height: 200px;
    text-align: center;
    cursor: pointer;
    justify-content: start;
    /* background-color: var(--gray); */
    padding: 1%;

}

.after-banner-boxs h3 {
    color: var(--white);
    font-size: 13px !important;
    font-weight: 800 !important;
    text-transform: uppercase;
}

.after-banner-icon {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--white);
    border-radius: 50%;
    font-size: 18px;
    background-color: var(--color);
    color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.after-banner-boxs .after-banner-icon span {
    transition: 0.5s !important;
}

.after-banner-boxs:hover .after-banner-icon span {
    transform: rotateZ(360deg);
    filter: drop-shadow(0 0 10px var(--color));
}

@media screen and (max-width:450px) {
    .after-banner-boxs {
        width: 30%;
        text-align: center;
        cursor: pointer;

    }

}

@media screen and (min-width:450px) and (max-width:768px) {
    .after-banner-boxs {
        width: 30%;
        text-align: center;
        cursor: pointer;

    }

}

@media screen and (max-width:992px) {


    .after-banner-boxs h3 {
        font-size: 12px !important;
        text-transform: uppercase;
    }
}

/* homeServices  */

.homeServices {
    width: 100%;
    height: auto;
    background-color: var(--bg-sec);
}

.homeService-title {
    position: relative;
}


.homeService-title h2 {
    color: var(--color1);
    letter-spacing: 5px;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 35px !important;

}



.homeService-title h2::before {
    content: '';
    width: 100px;
    height: 5px;
    background-color: var(--color1);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.homeService-title span {
    background-color: var(--color);
    color: var(--white);
    padding: 8px 20px;
    border-radius: 25px;
    font-size: 14px;
}


.homeServices-boxs {
    width: 27%;
    height: 200px;
    display: flex;
    gap: 15px;
    box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homeServices-boxs h5 {
    font-size: 15px !important;
    color: var(--black);
}

.homeServices-boxs:hover .homeService-image {
    transform: scale(1.15);
    filter: drop-shadow(0 0 10px var(--color));
}

.homeServices-boxs:hover .homeService-image img {
    transform: rotateZ(360deg);
}


.homeServices-boxs .homeService-image {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    border-radius: 50%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.homeServices-boxs img {
    width: 50px;
}

@media screen and (max-width:600px) {

    .homeServices-boxs {
        width: 47%;
        height: 200px;
        display: flex;
        gap: 15px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

/* home-spares-container  */

.home-spares-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.home-spares-container .home-spareBoxs {
    width: 35%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-transform: uppercase;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    /* border: 1px solid var(--black); */
}

.home-spares-container .home-spareBoxs img {
    width: 80px;
    height: 80px;
}

.home-spares-container .home-spareBoxs h5 {
    font-size: 15px;
}

@media screen and (max-width:500px) {
    .home-spares-container .home-spareBoxs {
        width: 100%;

    }
}

.newSpan {
    font-size: 25px !;
    letter-spacing: 3px;
    word-spacing: 7px;
}

.homeSpareImg {
    width: 100%;
}

.homeSpareImg img {
    width: 30%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    height: 300px;
    border-radius: 25px;
    object-fit: cover;
}

.homeSpareImg img:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

@media screen and (max-width:600px) {
    .homeSpareImg img {
        width: 100%;
    }

    .newSpan {
        font-size: 15px;
        letter-spacing: 1px;
        word-spacing: 3px;
    }

}



/* -------------------guarenteed section end----------------  */
/* //////////////about programe///////////////// */
.about-academy {
    width: 100%;
    height: 100%;
}

.homeServices2 {
    padding: 3% 0 !important;
}

.about-academy h5 {
    text-align: center;
    /* font-family: "Archivo", sans-serif; */
    font-size: 25px;
    color: var(--color);
    font-weight: 600;


}

.about-academy h6 {
    text-align: center;
    /* font-family: "DM Sans", sans-serif !important; */
    font-size: 40px;
}

.about-academy p {
    text-align: center;
    /* font-family: "Archivo", sans-serif; */
    font-size: 18px;
}

.about-academyimg {
    width: 100%;
    height: 100%;
}

.about-academycontainer {
    width: 100%;
    height: 100%;
}

.about-academy-boxs {
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 10px;

    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 5% !important;
    text-transform: uppercase;


}

.programe-image {
    width: 40%;
    height: auto;
    position: relative;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.programe-image img {
    width: 100%;
    height: 300px !important;
    border-radius: 10px;
    object-fit: cover;
    overflow: hidden !important;
    /* object-fit:fill !important; */

}


.programe-image-card {
    width: 100%;
    height: 35%;
    position: absolute;
    background-color: rgba(10, 10, 10, 0.5);
    /* background-color: rgb(30, 29, 29); */
    bottom: 0;
    left: 0;
    /* border-radius: 5px; */
    border-radius: 10px;

    padding: 2%;


}

.programe-image-card h6 {
    font-size: 25px;
    color: white !important;
    font-weight: 600;
}

.programe-image-card p {
    font-size: 15px;

    color: white !important;
}

@media screen and (max-width:600px) {
    .programe-image {
        width: 100%;
        height: auto;
        position: relative;
        overflow: hidden;
        margin-bottom: 25px;
    }

}


@media screen and (max-width:992px) {


    .programe-image-card h6 {
        font-size: 18px;
        color: white !important;
        font-weight: 600;
    }

}


.socialMedia a {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    color: var(--white) !important;
    border-radius: 50%;
    font-size: 25px;
    justify-content: center;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.socialMedia a:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.socialMedia a:nth-child(1) {
    background-color: #3b5998;
}

.socialMedia a:nth-child(2) {
    background: #833ab4;
    background: linear-gradient(to right,
            #833ab4, #fd1d1d, #fcb045);
}

.socialMedia a:nth-child(3) {
    background-color: #FF0000;
}


/* footer */


/* ///////////////////Footer //////////////////////// */

footer {
    width: 100%;
    height: auto;
    display: flex;
    padding: 2%;
    justify-content: space-evenly;
    background-color: #e6f0f7;

}

footer ul {
    padding: 0;
}

footer ul li {
    list-style: none;
}

footer .branch li {
    margin-bottom: 5%;
}

footer .branch li h6 {
    color: var(--color2);
    border-bottom: 1px solid var(--white);
}

footer .footer-boxes {
    width: 20%;
    height: auto;
}

footer .footer-boxes .footer-first {
    position: relative;
}

footer .footer-boxes .footer-first h5 {
    color: var(--color);
    text-transform: uppercase;
    font-weight: 800;
    font-size: 16px;


}

footer .footer-boxes .footer-first p {
    font-size: 12px;
    text-decoration: dotted;
    color: var(--black);
}


footer .footer-boxes .footer-first ul li a {
    font-size: 12px;
    text-decoration: dotted;
    color: var(--black);
    /* text-transform: uppercase; */
}

footer .footer-boxes .footer-first ul li {
    font-size: 12px;
    text-decoration: dotted;
    color: var(--black);
}

.footer-first .footer-social-medias {
    width: 100%;
    height: auto;
    display: flex;
    gap: 20px;
}

.footer-first .footer-social-medias .footer-social {
    font-size: 15px;
    text-decoration: dotted;
    color: var(--black);
}

footer .footer-boxes .footer-first .footer-social-link a {
    font-size: 14px;
    text-decoration: dotted;
    color: var(--black);
    margin-right: 20px;
}

footer .footer-boxes .footer-first .footer-social-link a:hover {

    color: var(--color);
}


footer .footer-boxes .footer-first ul li a:hover {
    color: var(--color);
}

footer .footer-boxes .footer-first img {
    width: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 5%;
    object-fit: contain;
    top: 0%;
}

.after-footer {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1%;
}

.after-footer p {
    margin-bottom: 0;
}

.after-footer p a {
    text-decoration: none;
    color: var(--color2);
}

@media screen and (max-width:320px) {

    /* --------------------------------------footer section -------------------------------------- */

    footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: auto;
        padding: 2%;
    }


    footer .footer-boxes {
        width: 100%;
        height: auto;
    }


}


@media screen and (min-width:321px) and (max-width:426px) {

    /* --------------------------------------footer section -------------------------------------- */

    footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: auto;
        padding: 2%;
    }


    footer .footer-boxes {
        width: 100%;
        height: auto;
        margin-bottom: 5%;
    }

}


@media screen and (min-width:426px) and (max-width:600px) {


    /* --------------------------------------footer section -------------------------------------- */

    footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: auto;
        padding: 2%;
    }


    footer .footer-boxes {
        width: 100%;
        height: auto;
    }

}


@media screen and (min-width:601px) and (max-width:768px) {


    /* --------------------------------------footer section -------------------------------------- */

    footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: auto;
        padding: 2%;
    }


    footer .footer-boxes {
        width: 100%;
        height: auto;
    }

}


/* Mediaqueries  */